In [35]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/spaceship-titanic/sample_submission.csv
/kaggle/input/spaceship-titanic/train.csv
/kaggle/input/spaceship-titanic/test.csv

In [36]:
train = pd.read_csv("/kaggle/input/spaceship-titanic/train.csv")
test = pd.read_csv("/kaggle/input/spaceship-titanic/test.csv")

In [37]:
train = train.drop("Cabin", axis=1)
train = train.drop("Name", axis=1)
train = train.dropna()
train.head(10)

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,0001_01,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,0002_01,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,0003_01,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,0003_02,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,0004_01,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True
5,0005_01,Earth,False,PSO J318.5-22,44.0,False,0.0,483.0,0.0,291.0,0.0,True
6,0006_01,Earth,False,TRAPPIST-1e,26.0,False,42.0,1539.0,3.0,0.0,0.0,True
8,0007_01,Earth,False,TRAPPIST-1e,35.0,False,0.0,785.0,17.0,216.0,0.0,True
9,0008_01,Europa,True,55 Cancri e,14.0,False,0.0,0.0,0.0,0.0,0.0,True
11,0008_03,Europa,False,55 Cancri e,45.0,False,39.0,7295.0,589.0,110.0,124.0,True

In [38]:
test = test.drop("Name", axis=1)
test = test.drop("Cabin", axis=1)
train = train.dropna()
test.head(10)

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,0013_01,Earth,True,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0
1,0018_01,Earth,False,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0
2,0019_01,Europa,True,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0
3,0021_01,Europa,False,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0
4,0023_01,Earth,False,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0
5,0027_01,Earth,False,TRAPPIST-1e,31.0,False,0.0,1615.0,263.0,113.0,60.0
6,0029_01,Europa,True,55 Cancri e,21.0,False,0.0,NaN,0.0,0.0,0.0
7,0032_01,Europa,True,TRAPPIST-1e,20.0,False,0.0,0.0,0.0,0.0,0.0
8,0032_02,Europa,True,55 Cancri e,23.0,False,0.0,0.0,0.0,0.0,0.0
9,0033_01,Earth,False,55 Cancri e,24.0,False,0.0,639.0,0.0,0.0,0.0

In [39]:
train = pd.get_dummies(train, columns=['HomePlanet', 'Destination'])
test = pd.get_dummies(test, columns=['HomePlanet', 'Destination'])

In [40]:
train.head(10)

,PassengerId,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,0001_01,False,39.0,False,0.0,0.0,0.0,0.0,0.0,False,0,1,0,0,0,1
1,0002_01,False,24.0,False,109.0,9.0,25.0,549.0,44.0,True,1,0,0,0,0,1
2,0003_01,False,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,0,1,0,0,0,1
3,0003_02,False,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,0,1,0,0,0,1
4,0004_01,False,16.0,False,303.0,70.0,151.0,565.0,2.0,True,1,0,0,0,0,1
5,0005_01,False,44.0,False,0.0,483.0,0.0,291.0,0.0,True,1,0,0,0,1,0
6,0006_01,False,26.0,False,42.0,1539.0,3.0,0.0,0.0,True,1,0,0,0,0,1
8,0007_01,False,35.0,False,0.0,785.0,17.0,216.0,0.0,True,1,0,0,0,0,1
9,0008_01,True,14.0,False,0.0,0.0,0.0,0.0,0.0,True,0,1,0,1,0,0
11,0008_03,False,45.0,False,39.0,7295.0,589.0,110.0,124.0,True,0,1,0,1,0,0

In [41]:
test.head(10)

,PassengerId,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,0013_01,True,27.0,False,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,1
1,0018_01,False,19.0,False,0.0,9.0,0.0,2823.0,0.0,1,0,0,0,0,1
2,0019_01,True,31.0,False,0.0,0.0,0.0,0.0,0.0,0,1,0,1,0,0
3,0021_01,False,38.0,False,0.0,6652.0,0.0,181.0,585.0,0,1,0,0,0,1
4,0023_01,False,20.0,False,10.0,0.0,635.0,0.0,0.0,1,0,0,0,0,1
5,0027_01,False,31.0,False,0.0,1615.0,263.0,113.0,60.0,1,0,0,0,0,1
6,0029_01,True,21.0,False,0.0,NaN,0.0,0.0,0.0,0,1,0,1,0,0
7,0032_01,True,20.0,False,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,1
8,0032_02,True,23.0,False,0.0,0.0,0.0,0.0,0.0,0,1,0,1,0,0
9,0033_01,False,24.0,False,0.0,639.0,0.0,0.0,0.0,1,0,0,1,0,0

In [42]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

X = train.drop('Transported', axis=1)
y = train['Transported']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [43]:
#model = AdaBoostClassifier()
#model.fit(X, y)

In [44]:
#y_pred = model.predict(X)

In [45]:
#score = model.score(x, y)
#print('R-squared score:', score)

In [46]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import AdaBoostClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier

# Step 1: Choose a performance metric
metric = accuracy_score

# Step 2: Split the dataset into training and testing datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Step 3: Define a list of machine learning models to compare
models = [
    LogisticRegression(),
    DecisionTreeClassifier(),
    RandomForestClassifier(),
    SVC(),
    MLPClassifier(),
    GaussianNB(),
    KNeighborsClassifier(),
    AdaBoostClassifier(),
]

# Step 4: Train each model and evaluate its performance on the testing dataset
for model in models:
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    score = metric(y_test, y_pred)
    print(f"{type(model).__name__}: {score}")

# Step 5: Choose the best model based on its performance
best_model = max(models, key=lambda model: metric(y_test, model.predict(X_test)))
print(f"Best model: {type(best_model).__name__}")

LogisticRegression: 0.7855595667870036
DecisionTreeClassifier: 0.7220216606498195
RandomForestClassifier: 0.7935018050541516
SVC: 0.5552346570397112
MLPClassifier: 0.7299638989169676
GaussianNB: 0.6779783393501805
KNeighborsClassifier: 0.6050541516245488
AdaBoostClassifier: 0.8007220216606499
Best model: AdaBoostClassifier

In [47]:
print(X_test, y_test)

     PassengerId CryoSleep   Age    VIP  RoomService  FoodCourt  ShoppingMall  \
588      0611_01      True  31.0  False          0.0        0.0           0.0
4802     5127_02     False  16.0  False         43.0        0.0           0.0
4053     4333_01     False  28.0  False          0.0     3345.0           0.0
1658     1761_01     False  23.0  False        145.0      490.0          17.0
2389     2564_01     False  42.0  False          2.0     3024.0           0.0
...          ...       ...   ...    ...          ...        ...           ...
7675     8192_01     False  18.0  False        539.0        2.0           3.0
6220     6578_02      True  16.0  False          0.0        0.0           0.0
7616     8136_01      True  26.0  False          0.0        0.0           0.0
5364     5729_01      True  29.0  False          0.0        0.0           0.0
8309     8868_01     False  39.0  False          0.0      798.0           0.0

         Spa  VRDeck  HomePlanet_Earth  HomePlanet_Europa  HomePlanet_Mars  \
588      0.0     0.0                 1                  0                0
4802  1893.0   119.0                 1                  0                0
4053  2143.0    27.0                 0                  1                0
1658    49.0     1.0                 1                  0                0
2389    89.0    10.0                 0                  1                0
...      ...     ...               ...                ...              ...
7675   900.0     0.0                 1                  0                0
6220     0.0     0.0                 0                  0                1
7616     0.0     0.0                 0                  1                0
5364     0.0     0.0                 0                  0                1
8309    56.0     0.0                 1                  0                0

      Destination_55 Cancri e  Destination_PSO J318.5-22  \
588                         0                          1
4802                        0                          0
4053                        1                          0
1658                        1                          0
2389                        0                          0
...                       ...                        ...
7675                        0                          0
6220                        0                          0
7616                        1                          0
5364                        0                          0
8309                        0                          0

      Destination_TRAPPIST-1e
588                         0
4802                        1
4053                        0
1658                        0
2389                        1
...                       ...
7675                        1
6220                        1
7616                        0
5364                        1
8309                        1

[1385 rows x 15 columns] 588      True
4802    False
4053    False
1658    False
2389     True
        ...
7675    False
6220     True
7616     True
5364     True
8309     True
Name: Transported, Length: 1385, dtype: bool

In [48]:
output = pd.DataFrame({'Transported': y_pred})
output.to_csv('predictions.csv', index=False)